<mat-nav-list class="bottom-sheet">
  <h1>Rest API Details</h1>
  <ng-container>
    <h2>Header Parameters</h2>
    <pre>
        <code>
    {{'{'}} 
        "content-type": "application/json",
        "refferer": "Gecko/ Chrome - V8"
    {{'}'}}
        </code>
    </pre>
  </ng-container>
  <hr>

  <h2>Rent Details</h2>
  <ng-container>
    <pre>
        <code>
    {{'{'}} 
        "name": {{'{'}} 
            "firstName": "Pramesh",
            "lastName": "Bajracharya"
        {{'}'}},
        "address": "Boudha, Kathmandu, Nepal.",
        "religion": "Buddhist/Hindu"
    {{'}'}}
        </code>
    </pre>
  </ng-container>
</mat-nav-list>
