.bottom-sheet {

  h1 {
    text-align: center;
  }

  .example-card {
    margin: 10px;
  }

  pre code {
    background-color: #eee;
    border-radius: 5px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
  }


}
